@tailwind base;
@tailwind components;
@tailwind utilities;

/* App.css */

.visa {
  @apply mx-5 rounded bg-gray-500 font-normal text-white flex items-center py-2 px-3 justify-end my-5;
}

.details {
  @apply border-b pb-6 text-2xl font-bold text-gray-400 ms-4 tracking-widest;
}

/* /////// */

.wrapper1 {
  position: relative;
}

.cart {
  @apply border-gray-300
  border
  text-gray-300;

  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
}

.cart span {
  @apply 
  text-gray-300;
  position: relative;
  z-index: 2;
}

.cart:after {
  @apply bg-gray-300;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: all 0.35s;
  color: #fff;
}

.cart:hover span {
@apply
text-gray-600;

}
.cart:hover .icon {
@apply
text-gray-600;

}

.cart:hover:after {
  width: 100%;
  color: #fff;
}
